{
    "branches": [
        "andre_test_release"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        ["@semantic-release/exec", {
            "prepareCmd": "./bin/update-manifest-version.sh ${nextRelease.version}"
        }],
        ["@semantic-release/exec", {
            "prepareCmd": "git push https://x-access-token:$GITHUB_TOKEN@github.com/zendesk/copenhagen_theme.git HEAD:andre_test_release"
        }],
    ]
}